In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [12]:
# Loading the dataset
data = pd.read_csv('Bengaluru_House_Data.csv')
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
# Handle missing values
data['bath'] = data['bath'].fillna(data['bath'].median())
data['balcony'] = data['balcony'].fillna(data['balcony'].median())
data['total_sqft'] = data['total_sqft'].apply(lambda x: np.mean([float(i) for i in str(x).split('-')]) if '-' in str(x) else pd.to_numeric(x, errors='coerce'))
data['total_sqft'] = data['total_sqft'].fillna(data['total_sqft'].median())

In [5]:
data['size'] = data['size'].apply(lambda x: int(str(x).split(' ')[0]) if pd.notnull(x) else 1)

In [6]:
#one hot encoding
data = pd.get_dummies(data, columns=['area_type', 'location'])

In [7]:
#dropping uneccesary columns
data = data.drop(['society', 'availability'], axis=1)

In [8]:
# Defining features and target variable
X = data.drop(['price'], axis=1)
y = data['price']

In [9]:
# Spliting data into training and testing sets
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=1)

In [10]:
# Random Forest Regressor
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(train_X, train_y)
rf_preds = rf_model.predict(test_X)
print("Random Forest Regressor")
print("Mean Absolute Error:", mean_absolute_error(test_y, rf_preds))
print("Mean Squared Error:", mean_squared_error(test_y, rf_preds))
print("R2 Score:", r2_score(test_y, rf_preds))

Random Forest Regressor
Mean Absolute Error: 31.491952521797735
Mean Squared Error: 11575.207792449959
R2 Score: 0.5762578986624923